{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multilang_site</title>
</head>
<body> 
    <navbar>
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <select name="language" onchange="this.form.submit()">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}"{% if lang.0 == LANGUAGE_CODE %} selected{% endif %}>{{ lang.1 }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="next" value="{{ request.get_full_path }}">
        </form>
        <h1><a href="main/">{% trans "Accéder aux articles" %}</a></h1>
    </navbar>
</body>
</html>